@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
/*this is the general padding and margin of the page*/
* {
  margin: 0;
  padding: 0;
}
/*this is the font, height of the webpage and the overflow-x prevent the x axis to be able to scroll*/
body {
  font-family: "Anta", sans-serif;
  height: 100%;
  overflow-x: hidden;
}
/*this is the container of the svg(Welcome to Sebanji) */
.container_for_ani {
  background-image: url(beautiful-cartoon-fantasy-landscape-with-sunset-sunrise-mountain-range-cold-morning-mist-forest_730030-233.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
/*the link on the navbar*/
a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/*this is used to design the svg those lines animation*/
svg path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.3;
  stroke-dasharray: 550;
  stroke-dashoffset: 550;
  animation: textAnimation 4s ease-in-out 1 forwards;
}
/*this is the keyframes defining the textAnimation*/
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 550;
  }

  80% {
    fill: transparent;
  }

  100% {
    fill: #fff;
    stroke-dashoffset: 0;
  }
}
/*the those content of the animationer banner*/
.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 8vw 1fr 8vw;
  grid-template-areas:
    "header header header"
    "leftSide body rightSide"
    "footer footer footer";
}
/*these are the gris-area that place them in they places*/
.header {
  grid-area: header;
}
.leftSide {
  grid-area: leftSide;
}
.body {
  grid-area: body;
}
.rightSide {
  grid-area: rightSide;
}
.footer {
  grid-area: footer;
}
/*that is the ordered and unorder list of the header */
.header ol,
ul {
  display: flex;
  gap: 40px;
  cursor: pointer;
  list-style: none;
}
/*When the list is hover it should increase in size and have a border-bottom*/
li:hover {
  scale: 1.1;
  border-bottom: 1px solid #333;
}
/*the links code*/
a {
  text-decoration: none;
  color: #333333;
}

/*that is the nav bar containing the links*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #333333;
  height: 50px;
}
/*that is the banner at the last ending container my copyright*/
.footer {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  height: auto;
  min-height: 50px;
  width: 100%;
}
/*that is the left side of the page layout*/
.leftSide {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  color: #333333;
  width: 8vw;
  height: 85vh;
}
/*that is the content of items of the page layout*/
.body {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}
/*that is the right side of the page layout*/
.rightSide {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #333333;
  width: 8vw;
  height: 85vh;
}
/*that is the cart container */
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
/*that is the total sum of all the cart items*/
.total {
  border-top: 2px solid #4c4c4c;
  width: 7vw;
  margin-top: auto;
  padding-top: 5px;
}
/*the dark toogle mode it show slowing change and the layout should be #1a1a1a*/
.dark-mode {
  transition: 0.3s;
  background-color: #1a1a1a;
}
/*this applies the dark mode cahnges to the header and fotter*/
.dark-mode .header,
.dark-mode .footer {
  background-color: #252525;
  color: #f5f5f5;
}
/*this applies to the dark mode change on the bady layout*/
.dark-mode .body {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
/*this applies to the cahnges when the li is hovered*/
.dark-mode li:hover {
  scale: 1.1;
  border-bottom: 1px solid #f5f5f5;
}
/*the colour of the right layout and left layout when then drak mode happens*/
.dark-mode .rightSide,
.dark-mode .leftSide {
  background-color: #3a3a3a;
  color: #f5f5f5;
}
/*the total when the toogle is dark */
.dark-mode .total {
  border-top: 2px solid #666666;
}
/*that happnes to the link when thedark mode is appilied */
.dark-mode a {
  color: #f5f5f5;
}
/*the switch container containing the input and span */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-top: auto;
  right: 20px;
  bottom: 3px;
}
/*this describes the input opacity,width and height of the input making it not seen*/
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/*this is the span creating the cirle*/
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
}
/*this is the code for the span before so it should have nothing in it it should have a certain height and width, how is transiton and the border raduis*/
.slider::before {
  position: absolute;
  left: 2px;
  bottom: 2px;
  height: 13px;
  width: 13px;
  transition: 0.3s;
  background-color: white;
  border-radius: 34px;
  content: "";
}
/*this code is when the input is clicked and the silder should be rgb(127, 255, 146)*/
input:checked + .slider {
  background-color: rgb(127, 255, 146);
}
/*this code is for the movement of the cirle*/
input:checked + .slider:before {
  transform: translateX(13px);
}

/* finally I am done with this css it is so stressful thinking alone😭🫡 */
